bin

prj/Debug
prj/Release
prj/ipch
prj/*.user
prj/*.sdf
prj/*.suo
prj/*.opensdf
prj/*.psess
prj/*.vsp

example/prj/Debug
example/prj/Release
example/prj/ipch
example/prj/*.user
example/prj/*.sdf
example/prj/*.suo
example/prj/*.opensdf
example/prj/*.psess
example/prj/*.vsp